.table {
  position: fixed;
}

.racket {
  position: fixed;
  background-color: black;
}

.ball {
  position: fixed;
  aspect-ratio: 1;
  background-color: black;
  border-radius: 50%;
}

.game-over {
  color: red;
  font-size: 25px;
  padding: 10px;
}

.score-card {
  color: black;
  font-size: 50px;
}